.paper {
  margin: 20px auto;
  min-height: 200px;
  width: 450px;
  box-shadow: 2px 2px 10px #666666;
  color: #333;
}

.title {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.body {
  margin-top: 10px;
}

.input-box{
  padding: 0 25px;
}

.submit-button {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}